{% extends 'base.html' %}

{% block title %}用語詳細{% endblock %}


{% block content %}
    <div class="card">
        <h5 class="card-header">{{ object.title }}</h5>
        <h6 class="card-header bg-white">カテゴリー：<a class="link-dark text-decoration-none" href="{% url 'category-dictionary' object.category %}">{{ object.category }}</a>{% if object.member %} / 所属：{{ object.member | safe }}{% else %}{% endif %}</h6>
        <div class="card-body">
            <p class="card-text">{{ object.text | safe }}</p>
            {% if object.thumbnail %}<img src="{{ object.thumbnail.url }}" class="img-thumbnail">{% endif %} 
        </div>
        <div class="card-footer">
            <a href="{% url 'index' %}" class="btn btn-outline-primary">一覧へ</a>
            <a href="{% url 'update-dictionary' object.title %}" class="btn btn-outline-primary">編集</a>
            <a href="{% url 'delete-dictionary' object.title %}" class="btn btn-outline-primary">削除</a>
        </div>
    </div>
{% endblock %}